/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partials/main.scss */
body {
  margin: 0;
  background-color: #F2F2F2;
}
/* line 5, ../sass/partials/main.scss */
body header {
  background-color: #000000;
  text-align: center;
  padding: 16px 0;
}
/* line 10, ../sass/partials/main.scss */
body header div {
  font-family: "Roboto-BlackItalic";
  font-size: 34px;
  color: #50FF44;
}
/* line 16, ../sass/partials/main.scss */
body aside {
  margin: 24px 0;
}
/* line 18, ../sass/partials/main.scss */
body aside > div {
  margin: 0 auto;
}
/* line 24, ../sass/partials/main.scss */
body main .comic {
  display: flex;
  margin: 0 auto;
}
/* line 28, ../sass/partials/main.scss */
body main .comic .cover {
  height: 438px;
  background: #FFFFFF;
  border: 4px solid #000000;
}
/* line 33, ../sass/partials/main.scss */
body main .comic .cover img {
  height: 100%;
}
/* line 38, ../sass/partials/main.scss */
body main .comic .information {
  height: 438px;
}
/* line 40, ../sass/partials/main.scss */
body main .comic .information .title {
  padding: 8px 21px 8px 24px;
  font-family: "Roboto-Bold";
  font-size: 34px;
  color: #FFFFFF;
  background-color: #000000;
  line-height: 34px;
}
/* line 48, ../sass/partials/main.scss */
body main .comic .information .details {
  padding: 16px 0 0 20px;
}
/* line 50, ../sass/partials/main.scss */
body main .comic .information .details .category {
  margin: 0 0 24px 0;
}
/* line 52, ../sass/partials/main.scss */
body main .comic .information .details .category .genres, body main .comic .information .details .category .author, body main .comic .information .details .category .status, body main .comic .information .details .category .rate {
  display: flex;
}
/* line 54, ../sass/partials/main.scss */
body main .comic .information .details .category .genres > div:nth-child(1), body main .comic .information .details .category .author > div:nth-child(1), body main .comic .information .details .category .status > div:nth-child(1), body main .comic .information .details .category .rate > div:nth-child(1) {
  font-family: "Roboto-Bold";
  font-size: 16px;
  color: #000000;
  line-height: 24px;
  font-weight: bold;
  width: 52px;
  margin: 0 20px 8px 0;
}
/* line 63, ../sass/partials/main.scss */
body main .comic .information .details .category .genres > div:nth-child(2), body main .comic .information .details .category .author > div:nth-child(2), body main .comic .information .details .category .status > div:nth-child(2), body main .comic .information .details .category .rate > div:nth-child(2) {
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: #000000;
  line-height: 24px;
}
/* line 75, ../sass/partials/main.scss */
body main .comic .information .details .summary > div:nth-child(1) {
  font-family: "Roboto-Bold";
  font-size: 16px;
  color: #000000;
  line-height: 24px;
  font-weight: bold;
  margin: 0 0 8px 0;
}
/* line 83, ../sass/partials/main.scss */
body main .comic .information .details .summary .summary-text {
  word-spacing: -3px;
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: #000000;
  line-height: 24px;
}
/* line 95, ../sass/partials/main.scss */
body main .all-chapters {
  margin: 24px auto;
}
/* line 98, ../sass/partials/main.scss */
body main .all-chapters .tag {
  padding: 8px 24px;
  background-color: #000000;
  font-family: "Roboto-Bold";
  font-size: 24px;
  color: #FFFFFF;
  display: inline-block;
}
/* line 106, ../sass/partials/main.scss */
body main .all-chapters .chapter-list {
  background: #FFFFFF;
  border: 4px solid #000000;
  padding: 22px 0 22px 24px;
}
/* line 110, ../sass/partials/main.scss */
body main .all-chapters .chapter-list > div {
  font-family: "Roboto-Bold";
  font-size: 16px;
  color: #000000;
  line-height: 24px;
  font-weight: bold;
}
/* line 116, ../sass/partials/main.scss */
body main .all-chapters .chapter-list > div > span {
  background: #50FF44;
  margin-left: 16px;
  padding: 1px 12px;
  font-size: 14px;
  color: #000000;
  line-height: 14px;
}
/* line 124, ../sass/partials/main.scss */
body main .all-chapters .chapter-list > div:hover {
  background: #000000;
  color: #FFFFFF;
}

/* line 133, ../sass/partials/main.scss */
.container {
  width: 620px;
}
